* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: "Arial";
	color: #333;
}
header, footer {
	width: 100%;
	height: 6em;
	display: block;
    columns: 2;
	background-color: gray;
    padding: 1em 1em;
}
header>span, footer>h2{
    display: block;
    text-align: right;
}
footer>span{
    text-align: left;
}
main {
    position: relative;
    columns:4;
    column-gap: 2vw;
	width: 100%;
	height: 34em;
}
main>div{
    background-color: lightgray;
    height: 100%;
    text-align: right;
    padding: 1em 1em;
}
main>p
{
    padding: 1em 1em;
    height: 6em;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 49%;
}
main>div:nth-of-type(1), main>div:nth-of-type(2)
{
    padding-bottom: 1em;
}
body {
	font-size: 15px;
    background-color: black;
}
a {
	font-family: Arial;
	color: red;
    font-size: 24px;
}

img {
	height: 200px;
}
